/* public/css/partials/app.css */

/* Light mode (default) */
:root {
    --background-color: #E2F1E7;
    --text-color: #243642;
    --navbar-background-color: #387478;
    --navbar-text-color: #E2F1E7;
    --nav-link-hover-color: #629584;
    --container-background-color: #E2F1E7;
    --table-background-color: #E2F1E7;
    --table-header-background-color: #629584;
    --table-header-text-color: #FFFFFF;
    --table-row-odd-background-color: #387478;
    --table-row-even-background-color: #E2F1E7;
    --footer-background-color: #387478;
    --footer-text-color: #E2F1E7;
}

/* Dark mode */
[data-theme="dark"] {
    --background-color: #1e1e1e;
    --text-color: #c5c5c5;
    --navbar-background-color: #333;
    --navbar-text-color: #c5c5c5;
    --nav-link-hover-color: #7a7a7a;
    --container-background-color: #333;
    --table-background-color: #333;
    --table-header-background-color: #444;
    --table-header-text-color: #c5c5c5;
    --table-row-odd-background-color: #3a3a3a;
    --table-row-even-background-color: #444;
    --footer-background-color: #333;
    --footer-text-color: #c5c5c5;
}

/* Apply the variables */
body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: var(--navbar-background-color);
}

.navbar-brand {
    font-weight: bold;
    color: var(--navbar-text-color);
}

.nav-link {
    color: var(--navbar-text-color) !important;
}

.nav-link:hover {
    color: var(--nav-link-hover-color) !important;
}

.container {
    margin-top: 30px;
    padding: 20px;
    border-radius: 5px;
    background-color: var(--container-background-color);
}

h1, h2 {
    color: var(--text-color);
}

.table {
    background-color: var(--table-background-color);
}

.table th {
    background-color: var(--table-header-background-color);
    color: var(--table-header-text-color);
}

.table td {
    color: var(--text-color);
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: var(--table-row-odd-background-color);
}

.table-striped tbody tr:nth-of-type(even) {
    background-color: var(--table-row-even-background-color);
}

footer {
    background-color: var(--footer-background-color);
    color: var(--footer-text-color);
    text-align: center;
    padding: 15px 0;
    margin-top: 20px;
}
